.nav {
    font-family: 'Poppins', var(--font-family);

    &__list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__link {
        --active-indicator-opacity: 0.5;
        --active-indicator-transform: scaleX(0);
        --link-color: inherit;
        --icon-color: inherit;

        position: relative;
        display: flex;
        align-items: center;
        color: var(--link-color);
        letter-spacing: 1px;

        &::after {
            content: '';
            width: 100%;
            background: var(--primary-gradient);
            height: 2px;
            border-radius: 2px;
            transform: var(--active-indicator-transform);
            opacity: var(--active-indicator-opacity);
            transition: 0.35s;
        }

        &--active {
            --active-indicator-opacity: 1;
            --active-indicator-transform: scaleX(1);
            --link-color: var(--header-color);
            --icon-color: var(--primary);
        }
    }

    &__icon {
        max-height: 20px;
        height: auto;
        color: var(--icon-color);
    }
}