.app-header {
    background: var(--panel-bg);
    padding: 16px 32px;
    box-shadow: 0 2px 12px rgba(#000, 0.1);
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    &__heading {
        margin: 0;
        font-size: 2rem;
    }

    &__link {
        text-decoration: none;
        color: var(--primary);
    }
}