.flex {
    display: flex;

    &-center {
        @include flex-center;
    }

    &-wrap {
        display: flex;
        flex-wrap: wrap;
    }
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}
