.fade-slide-x {
    &-enter-active, &-leave-active {
        transition: 0.35s;
    }

    &-enter, &-leave-to {
        opacity: 0;
    }

    &-enter {
        transform: translateX(200px);
    }

    &-leave-to {
        transform: translateX(-200px);
    }
}
