.cash-result {
    --icon-container-bg: var(--primary-gradient);

    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &--success {
        --icon-container-bg: var(--green-gradient);
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include square(60px);
        position: relative;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 0 4px rgba(#000, 0.2);

        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: inherit;
        }

        &::before {
            background: var(--icon-container-bg);
        }

        &::after {
            background: var(--panel-bg);
            margin: 5px;
        }
    }

    &__icon {
        color: var(--header-color);
        z-index: 2;
        width: 24px;
        height: auto;
    }

    &__text-container {
        margin-left: 20px;
    }

    &__label {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--subtext-color);
    }

    &__value-container {
        margin-left: 0;
    }

    &__value {
        font-weight: 600;
        font-size: 2.4rem;
        color: var(--header-color);
    }
}
