.register {
    &__steps {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: var(--subtext-color);
    }

    &__step-title {
        margin-top: 4px;
        margin-bottom: 24px;
        font-size: 1.8rem;
        font-weight: 600;

        &--bigger-margin {
            margin-bottom: 40px;
        }
    }

    &__step-description {
        margin-bottom: 40px;
        line-height: 1.5;
    }
}
