.base-calculator {
    margin: 16px;
    background: var(--panel-bg);
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(#000, 0.2);
    width: 100%;
    min-width: 330px;

    @include mq(md) {
        display: flex;
    }

    @include mq(lg) {
        width: auto;
    }

    &__form {
        border-bottom: 1px solid var(--border-color);
        padding: 20px 20px 30px;
        flex: 1;

        @include mq(md) {
            border-bottom: none;
            border-right: 1px solid var(--border-color);
            padding: 32px;
        }
    }

    &__summary {
        padding: 30px 20px;
        flex: 1;

        @include mq(lg) {
            padding: 30px;
        }
    }
}
