.app-nav {
    margin-right: 40px;

    @include mq(lg) {
        margin-right: 60px;
    }

    &__list {
        align-items: center;
    }

    &__list-item {
        margin-left: 20px;
        margin-right: 20px;

        @include mq(lg) {
            margin-left: 30px;
            margin-right: 30px;
        }
    }

    &__link {
        font-size: 1.3rem;
        transition: 0.35s;

        &::after {
            @include absolute(-23px, 0);
        }

        &::before {
            content: '';
            @include absolute-full();
            box-shadow:
                0 0 0 8px var(--panel-bg),
                0 0 0 10px var(--primary);
            opacity: 0;
            transition: 0.25s opacity;
        }

        &:hover {
            --link-color: var(--primary);
        }

        &:focus {
            outline: none;
        }

        @include focus {
            &::before {
                opacity: 1;
            }
        }
    }

    &__icon {
        margin-right: 10px;
        width: 18px;
    }
}
