.base-calculator {
    @include card;
    padding: 0;

    @include mq(md) {
        display: flex;
    }

    &__form {
        border-bottom: 1px solid var(--border-color);
        padding: 20px 20px 30px;
        flex: 1;

        @include mq(md) {
            border-bottom: none;
            border-right: 1px solid var(--border-color);
            padding: 32px;
        }
    }

    &__summary {
        padding: 30px 20px;
        flex: 1;

        @include mq(lg) {
            padding: 32px;
        }
    }
}
