.base-calculator {
    @include card;
    padding: 0;
    width: 100%;

    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
    }

    &__header, &__form, &__summary {
        padding: 32px;

        @include mq(xl) {
            padding: 48px;
        }
    }


    &__header {
        grid-column: 1 / -1;
        border-bottom: 1px solid var(--border-color);
    }

    &__heading {
        margin: 0 0 16px;
    }

    &__status {
        text-decoration: underline;
        margin-top: 16px;
        width: 100%;

        @include mq(md) {
            margin: 0;
            width: auto;
        }
    }

    &__form {
        border-bottom: 1px solid var(--border-color);
        flex: 1;

        @include mq(md) {
            border-bottom: none;
            border-right: 1px solid var(--border-color);
        }
    }

    &__summary {
        flex: 1;
    }
}
