.calculator-menu {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding-bottom: 40px;

    &__button {
        @include square(38px);
        @include flex-center;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        background: var(--body-bg);
        border: 2px solid transparent;
        color: #fff;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--primary-gradient);
            border-radius: inherit;
            margin: -5px;
            box-shadow: 0 2px 8px rgba(#000, 0.25);
        }

        &:focus {
            outline: none;
            background: var(--border-color);
        }
    }
}
