.cash-result {
    --value-font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    &--primary {
        --cash-result-bg: var(--primary);
    }

    &--primary-gradient {
        --cash-result-bg: var(--primary-gradient);
    }

    &--success {
        --cash-result-bg: var(--success);
    }

    &--danger {
        --cash-result-bg: var(--danger);
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include square(60px);
        min-width: 60px;
        position: relative;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 0 4px var(--shadow);

        &::before,
        &::after {
            content: '';
            @include absolute-full;
            border-radius: inherit;
        }

        &::before {
            background: var(--cash-result-bg);
        }

        &::after {
            background: var(--panel-bg);
            margin: 5px;
        }
    }

    &__icon {
        color: var(--header-color);
        z-index: 2;
        width: 24px;
        height: auto;
    }

    &__indicator {
        background: var(--cash-result-bg);
        @include square(12px);
        min-width: 12px;
        display: block;
        border-radius: 50%;
    }

    &__text-container {
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    &__label {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--subtext-color);
        line-height: 1.25;
    }

    &__value-container {
        margin-left: 0;
        padding-left: 24px;
        text-align: right;

        @include mq(lg) {
            min-width: 150px;
        }
    }

    &__value {
        font-weight: 600;
        font-size: var(--value-font-size);
        color: var(--header-color);
        white-space: nowrap;
    }


    &--with-icon {
        @include mq(md) {
            margin-bottom: 24px;
        }

        .cash-result__text-container {
            --value-font-size: 2.4rem;
            display: block;
        }

        .cash-result__value-container {
            padding: 0;
            text-align: left;
        }
    }
}
