body[data-theme="dark"] {
    --body-bg: hsl(261, 5%, 18%);
    --panel-bg: hsl(255, 5%, 21%);
    --border-color: hsl(253, 5%, 28%);

    --text-color: hsl(250, 5%, 90%);
    --inverted-text-color: hsl(250, 90%, 5%);
    --header-color: hsl(250, 5%, 100%);
    --subtext-color: hsl(250, 5%, 82%);

    --green: hsl(100, 70%, 64%);
    --red: hsl(0, 100%, 68%);

    --primary: hsl(195, 100%, 60%);
    --accent: hsl(290, 100%, 55%);
    --success: var(--green);
    --danger: var(--red);
    --primary-contrasting: hsl(195, 100%, 16%); //darker in dark theme
    --primary-contrasting-2: hsl(195, 100%, 82%); //lighter in dark theme
    --success-contrasting: hsl(100, 100%, 14%);
    --danger-contrasting: hsl(0, 100%, 12%);

    --primary-gradient: linear-gradient(128deg, var(--primary), var(--accent));

    --form-field-bg: hsl(253, 5%, 16%);
}
