.modal {
    margin: 20px;
    border-radius: 16px;
    min-width: 400px;
    max-width: 100%;
    background: var(--panel-bg);
    opacity: var(--modal-content-opacity);
    transform: var(--modal-content-transform);
    transition: 0.3s ease-in-out;
    border: var(--element-border);

    @include mq(xs, max) {
        min-width: unset;
        width: 100%;
    }

    @include mq(xl) {
        min-width: 480px;
    }

    &__container {
        --modal-overlay-opacity: 1;
        --modal-content-opacity: 1;
        --modal-content-transform: scale3d(1, 1, 1);

        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include flex-center;
    }

    &__overlay {
        @include absolute-full;
        background: rgba(#000, 0.9);
        z-index: -1;
        transition: 0.35s ease;
        opacity: var(--modal-overlay-opacity);

        @supports (backdrop-filter: blur(1px)) {
            backdrop-filter: blur(15px);
            background: rgba(#000, 0.5);
        }
    }

    &__close {
        @include absolute(20px, auto, 20px);
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }

    &__body, &__footer {
        padding: 24px 32px;

        @include mq(xl) {
            padding: 24px 48px;
        }
    }

    &__header {
        padding: 32px;

        @include mq(xl) {
            padding: 32px 48px;
        }
    }

    &__body {
        padding-top: 12px;
        padding-bottom: 32px;
    }

    &__heading {
        font-size: 2rem;
        margin: 0;
    }

    &__container.modal-transition {
        &-enter-active, &-leave-active {
            transition: 0.35s;
        }

        &-enter, &-leave-to {
            --modal-content-opacity: 0;
            --modal-overlay-opacity: 0;
        }

        &-enter {
            --modal-content-transform: translateY(-100px);
        }

        &-leave-to {
            --modal-content-transform: translateY(100px);
        }
    }
}
