*, *::before, *::after {
    box-sizing: border-box;
}

html, body, .app {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
    font-family: var(--font-family), sans-serif;
    font-weight: var(--font-weight);
    font-size: 1.4rem;
    transition: 0.5s background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    display: inline-block;
    color: var(--header-color);

    &:not([disabled]) {
        cursor: pointer;
    }
}

*:focus:not(.focus-visible) {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
