*, *::before, *::after {
    box-sizing: border-box;
}

html, body, .app {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}
