.text-right {
    text-align: right;
}

.view {
    min-height: 100%;

    &--centered {
        @include flex-center;
    }
}

.card {
    @include card;
    padding: 24px;
    width: 100%;

    @include mq(sm) {
        padding: 32px;
    }

    @include mq(md) {
        width: auto;
        min-width: 540px;
        padding: 60px 64px;
    }
}

.section {
    &__heading {
        margin-top: 0;
        margin-bottom: var(--base-margin-bottom);
    }
}
